body {
  margin: 0;
  font-family: 'ShuHeiTi', system-ui, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
  margin: 0;
  font-weight: normal;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@font-face {
  font-family: 'ShuHeiTi';
  src: url('shuhei.woff2') format('woff2'),
}